<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= (typeof title != "undefined" ? title : "COLOR CHAT") %></title>
    <link rel="stylesheet" href="/assets/styles/main.css">
    <!-- <link rel="icon" href="/assets/images/favicon-16.pn/g" sizes="16x16"> -->
    <link rel="icon" href="/assets/images/favicon.png" sizes="32x32"> 
    <!-- <link rel="icon" href="/assets/images/favicon-48.png" sizes="48x48">
    <link rel="icon" href="/assets/images/favicon-64.png" sizes="64x64"> 
    <link rel="icon" href="/assets/images/favicon-128.png" sizes="128x128"> -->
    <link rel="shortcut icon" href="/assets/images/favicon.png">
    <!-- <link rel="apple-touch-icon-precomposed" href="/assets/images/favicon-152.png"> -->
    <!-- <meta name="msapplication-TileImage" content="/path/to/favicon-144.png"> -->
    <!-- <meta name="msapplication-TileColor" content="#FFFFFF"> -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>