html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; }

/* paybooc light */
@font-face {
     font-family: 'paybooc';
     font-style: normal;
     font-weight: 300;
     src: url("./fonts/payboocLight.eot"); /* IE9 Compat Modes */
     src: local('payboocLight'), local('paybooc-Light'),
          url("./fonts/payboocLight.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
          url("./fonts/payboocLight.otf") format("opentype"), /* Open Type Font */
          url("./fonts/payboocLight.svg") format("svg"), /* Legacy iOS */
          url("./fonts/payboocLight.ttf") format("truetype"), /* Safari, Android, iOS */
          url("./fonts/payboocLight.woff") format("woff"), /* Modern Browsers */
          url("./fonts/payboocLight.woff2") format("woff2"); /* Modern Browsers */
}
/* paybooc normal */
@font-face {
     font-family: 'paybooc';
     font-style: normal;
     font-weight: 400;
     src: url("./fonts/payboocMedium.eot"); /* IE9 Compat Modes */
     src: local('payboocMedium'), local('paybooc-Medium'),
          url("./fonts/payboocMedium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
          url("./fonts/payboocMedium.otf") format("opentype"), /* Open Type Font */
          url("./fonts/payboocMedium.svg") format("svg"), /* Legacy iOS */
          url("./fonts/payboocMedium.ttf") format("truetype"), /* Safari, Android, iOS */
          url("./fonts/payboocMedium.woff") format("woff"), /* Modern Browsers */
          url("./fonts/payboocMedium.woff2") format("woff2"); /* Modern Browsers */
}
/* paybooc bold */
@font-face {
     font-family: 'paybooc';
     font-style: normal;
     font-weight: 600;
     src: url("./fonts/payboocBold.eot"); /* IE9 Compat Modes */
     src: local('payboocBold'), local('paybooc-Bold'),
          url("./fonts/payboocBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
          url("./fonts/payboocBold.otf") format("opentype"), /* Open Type Font */
          url("./fonts/payboocBold.svg") format("svg"), /* Legacy iOS */
          url("./fonts/payboocBold.ttf") format("truetype"), /* Safari, Android, iOS */
          url("./fonts/payboocBold.woff") format("woff"), /* Modern Browsers */
          url("./fonts/payboocBold.woff2") format("woff2"); /* Modern Browsers */
}

body{font-family: 'paybooc', sans-serif; background: #121212; color: #eee}
body *{font-family: inherit; box-sizing: border-box;}
a{color: #eee; font-weight: 600; text-decoration: none;}
a:hover{border-bottom: 2px solid #eee}
header, header *, a{user-select: none; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none;}

.os-theme-dark > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle{background: #222 !important;}
&::-moz-focus-inner {
     border: 0;
     padding: 0;
}

table{table-layout: fixed; width: 100%; border: 1px solid #1d1d1d; }
table thead th{background-color: #1d1d1d; font-size: 14px; text-align: center; vertical-align: middle; height: 50px; color: #eee;}
table tbody th,
table tbody td{text-align:center;line-height:23px; font-size:14px;vertical-align: middle; height:50px; border-top: 1px solid #1d1d1d}
table tbody th{padding:12px 5px 11px;}

.inner{max-width: 950px; margin: 0 auto; padding: 0 20px}
.inner:after{content: ""; display: block; width: 100%; clear: both; float: none;}

header{height: 60px; line-height: 60px; margin-bottom: 30px; background: #1f1f1f; box-shadow: 0 0 25px 3px rgb(0 0 0 / .2);}
header h1{font-size: 24px; font-weight: 600; color: #fff; display: inline-block;}
header ul{float: right}

.error-message{color: #ac033c; border: 1px solid #ac033c; margin-bottom: 20px; padding: 15px;}

.create-room{max-width: 500px; margin: 0 auto; padding: 0 20px;}
.create-room form{background: #1d1d1d; box-shadow: 0 0 5px rgba(0, 0, 0, .15); padding: 30px 35px; width: 100%;}
.create-room form h3{margin-bottom: 10px; font-size: 18px;}
.create-room input{background: transparent; border: 0; border-bottom: 2px solid #fff; color: #eee; width: 100%; padding: 10px 0; font-family: inherit; margin-top: 5px; font-size: 14px}
.create-room input:focus{outline: none;}
.create-room button{width: 100%; margin-top: 25px; border: 0; border-radius: 2px; padding: 10px 0; font-size: 16px; cursor: pointer; font-weight: 600;}

.chat-box{width: 100%;}
.chat-box.state{width: 65%; float: right; transition: width .2s;}
.chat-box.state #chat-list .chat-list .content .file{max-height: 250px !important;}

#chat-list{height: calc(100vh - 180px);}
#chat-list .system{text-align: center; color: #ac033c;}
#chat-list .system span{color: #9e9e9e !important; font-weight: 400; font-size: 12px; margin-left: 7px; vertical-align: middle;}
#chat-list .chat-list{width: 100%; margin: 10px 0; display: block; overflow: hidden;}
#chat-list .chat-list .avatar{width: 40px; height: 40px; border-radius: 5px; float: left; margin-right: 12px; position: relative; user-select: none; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none;}
#chat-list .chat-list .avatar > span{background: rgba(0, 0, 0, .45); color: #d6d6d6; font-size: 12px; line-height: 12px; position: absolute; right: 2px; bottom: 2px; padding: 2px 2.5px 1px; border-radius: 2px;}
#chat-list .chat-list .content{float: left; width: calc(100% - 52px)}
#chat-list .chat-list .content .name{margin-top: 4px; color: #eee; font-weight: 600;}
#chat-list .chat-list .content .name > span{color: #9e9e9e !important; font-weight: 400; font-size: 12px; margin-left: 7px; vertical-align: middle;}
#chat-list .chat-list .content .chat{margin-top: 7px; white-space: pre-line; line-height: 22px; color: #ccc}
#chat-list .chat-list .content .file{max-height: 450px !important; border-radius: 4px; margin-top: 7px; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKAQMAAAC3/F3+AAAACXBIWXMAAAsTAAALEwEAmpwYAAAABlBMVEXf39////8zI3BgAAAAEUlEQVQIW2Nk38mIjH5wICMAez4Iyz2C/F8AAAAASUVORK5CYII=) repeat;}

#chat-list .chat-list.mine{text-align: right}
#chat-list .chat-list.mine .avatar{float: right; margin-right: 0; margin-left: 12px;}

.chat-scroll{position: relative;}
.chat-scroll #new-chat{position: absolute; bottom: 0; left: 0; text-align: center; z-index: 1; width: 100%; margin-bottom: 10px; background: rgb(49, 49, 49, .6); padding: 9px 0; border-radius: 4px; cursor: pointer;}
.chat-scroll #new-chat i{vertical-align: -3px; font-size: 20px;}
.inner.chat{position: relative; height: calc(100vh - 60px); margin-top: -30px;}
.inner.chat form{position: relative; border: 2px solid #313131; border-radius: 4px; width: 100%; overflow: hidden; font-size: 0; height: 100px; padding: 7px; background: #121212; z-index: 3}
.inner.chat form textarea{width: 100%; background: transparent; border: 0; resize: none; color: #eee; padding: 15px; font-size: 14px; line-height: 22px; padding: 10px;}
.inner.chat form textarea:hover{border-color: #363636}
.inner.chat form.focus{outline: none; border-color: #555}
.inner.chat form .btns{text-align: right; background: #313131; line-height: 30px; height: 30px; position: absolute; bottom: -42px; width: calc(100% - 14px); left: 7px; border-radius: 2px; padding: 0 4px; font-size: 0; transition: .2s;}
.inner.chat form.focus .btns{bottom: 8px}
.inner.chat form .btns button{vertical-align: middle; display: inline-block; border: none; margin: 0; padding: 0; width: auto; overflow: visible; background: transparent; color: inherit; font: inherit; line-height: normal; -webkit-font-smoothing: inherit; -moz-osx-font-smoothing: inherit; -webkit-appearance: none; text-align: inherit; outline: none; margin-left: 4px; cursor: pointer; padding: 0 5px; vertical-align: middle; border-radius: 4px;}
.inner.chat form .btns button:hover{background: #212121}
.inner.chat form .btns button i{font-size: 22px}
.inner.chat form .btns button input[type='file']{display: none}
.inner.chat form .typing{position: absolute; font-size: 12px; color: #aaa; left: 11px; bottom: 16px; transition: .2s}
.inner.chat form.focus .typing{left: 15px;}
.inner.chat form .uploaded{width: 43px; height: 43px; background-size: contain; position: absolute; top: 8px; left: 7px; z-index: 1; border-radius: 4px;}
.inner.chat form.file textarea{padding-left: 51px !important}

.user-scroll{width: 35%; float: left; margin-top: 15px; border-radius: 4px; padding-right: 15px;}
.user-scroll ul{padding: 15px; background: #1f1f1f; border-radius: 4px; height: calc(100vh - 93px)}
.user-scroll ul > li{margin-top: 15px; color: #9e9e9e; line-height: 20px; height: 20px;}
.user-scroll ul > li:first-child{color: #fff; margin-top: 0; border-bottom: 2px solid #333; padding-bottom: 15px; line-height: normal; height: auto;}
.user-scroll ul > li > .you{float: right; font-size: 11px;}
.user-scroll ul > li > .avatar{display: inline-block; width: 20px; height: 20px; margin-right: 7px; vertical-align: top;}

@media (max-width: 767px){
     .chat-box.state{width: 100%}
     .user-scroll{display: none}
}

@media (max-width: 540px){
     .inner{padding: 0 15px;}
     #chat-list .chat-list .content .file{max-width: 100% !important; height: auto}
}

@media (max-width: 380px){
     .inner{ font-size: 13px;}
}